.Header-site{
    background-image: url(../img/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site{
    padding-top: 100px;
    padding-bottom: 200px;
}

.img-site{
    background-image: url(http://images6.fanpop.com/image/photos/38700000/Turtle-animals-38709466-1600-900.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}


.footer-site{
    background-color: #333333;
    color: #ffffff;
    padding-top: 250px;
    padding-bottom: 250px;
}