.Header-site{
    background-image: url(../img/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site{
    padding-top: 100px;
    padding-bottom: 200px;
}

.img-site{
    background-image: url(https://images8.alphacoders.com/425/thumb-1920-425057.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}


.footer-site{
    background-color: #333333;
    color: #ffffff;
    padding-top: 250px;
    padding-bottom: 250px;
}